@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Oswald';
}
body {
    background-color: rgb(17, 17, 27);
}
a {
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}
.container {
    max-width: 1140px;
    margin: auto;
}


/*--------------menu-------------*/
.bgMenu {
    background-color: rgb(19, 19, 31);
    font-family:'Oswald';
    font-weight:600;
}
.navLink {
    display: block;
    padding: 20px;
    font-size: 20px;
    font-weight: var(--bs-nav-link-font-weight);
    color: #fff;
    font-family:'Oswald';
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
/*--------------menu-end-------------*/



/*--------------Home-banner-------------*/
.container.banner {
    height: calc(100vh - 68px);
    display: flex;
    background-color: rgb(19, 19, 31);
}
.home-left,
.home-right {
    flex: 1;
    margin: auto;
}
.home-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-left h1 {
    text-shadow: 2px 2px 2px #000;
    font-size: 700;
    color: #fff;
    font-size: 40px;
    padding-bottom: 30px;
}
.home-left p{
    text-shadow: 2px 2px 2px #000;
    margin-left: 35px;
    font-weight: 600;
    font-size: 20px;
    color: blueviolet;
} 
.home-left p span{
    text-shadow: 2px 2px 2px #000;
    margin-left: 10px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(0, 204, 255);
} 
.home-left p span:nth-child(2) {
    color: rgb(255, 0, 85);
}
.home-left p span:nth-child(3) {
    color: rgb(255, 238, 0);
}
.home-left p span:nth-child(4) {
    color: rgb(0, 4, 240);
}
.home-left p span:nth-child(5) {
    color: rgb(30, 255, 0);
}
.home--links {
    display: flex;
    justify-content: center;
}
.home--links img{
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
}
.home-right {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/images/desktop-source-code-wallpaper-computer-language-codi-desktop-source-code-technology-background-developer-124424262.jpg);
    background-position: center;
}
.home-right img{
    height: 250px;
    width: 250px;
    object-fit: cover;

    border: 1px solid #fff;
    border-radius: 650px;
}
/*--------------Home-banner-end-------------*/




/*--------------about-------------*/
.container.about {
    border: 1px solid #fff;
    background-color: rgba(58, 0, 133, 0.062);
}
.about-text {
    text-shadow: 2px 2px 2px #000;
    margin: 50px;
    color: #ffffff;
}
.about-text h1{
    text-align: center;
    padding-bottom: 20px;
}
.about-text p{
    color: #b9b9b9;
    font-size: 18px;
    font-weight: 600;
    word-spacing: 4px;
    line-height: 28px;
}
/*--------------about-end-------------*/


/*--------------project--------------*/
.project-title {
    color: #fff;
    text-align: center;
    margin: 40px;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000;
}
.projects-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
}
.projeto {
    background-color:rgba(58, 0, 133, 0.062); 
    height: 200px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.projeto a {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.projeto img{
    width: 100%;
    height: 100%;
}
.projeto-title {
    position: relative;
    background-color: #000;
    margin-top: -30px;
    color: #fff;

}
/*--------------project-end-------------*/


/*--------------footer--------------*/
footer {
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.6); 
    color: #ccc;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    padding-top: 5px;
}
/*--------------footer-end-------------*/







/*--------------Responsive--------------*/
@media screen and (max-width: 800px)  {
    .container.banner {
        flex-direction:column ;
    }
    .home-left {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .home-right  {
        background-image: none;
        margin-top: 0px;
        margin-bottom: 20px;
        padding-bottom: 50px;
    }
    .projects-area {
        grid-template-columns: 1fr;
    }
    .projeto {
        width: 80%;
        margin: auto;
    }
}
@media screen and (max-width: 475px) {
    .home-left h1 {
        font-size: 30px;
        text-align: center;
    }
}
/*--------------Responsive-end-------------*/